body {
    margin: 0;
    font-family: "Georgia", serif;
    background-color: rgba(122, 121, 121, 1);
}
html {
    height: 100%;
    margin: 0;
}
.bg {
    background: linear-gradient(180deg, rgba(122, 121, 121, 1) 0%, rgba(61, 61, 61, 1) 29%, rgba(15, 15, 15, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    }
.bgImage {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    mask-image: url("data:image/svg+xml,%3Csvg width='110%25' height='115%25' viewBox='0 0 100 100' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200%25' height='200%25' x='-100%25' y='-100%25' fill='url(%23rad)'/%3E%3Cdefs%3E%3CradialGradient id='rad'%3E%3Cstop offset='80%25'/%3E%3Cstop offset='100%25' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='110%25' height='115%25' viewBox='0 0 100 100' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='200%25' height='200%25' x='-100%25' y='-100%25' fill='url(%23rad)'/%3E%3Cdefs%3E%3CradialGradient id='rad'%3E%3Cstop offset='80%25'/%3E%3Cstop offset='100%25' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E");
}
.centerItem {
    align-self: center;
}
.content {
    position: relative;
}
.extension {
    height: 50vh;
}
.flexContainerColumn {
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
    gap: 0.3rem;
}
.flexContainerRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 1.5rem;
}
.large {
    font-size: large;
}
.icon {
    border-radius: 6px;
    border-style: groove;
    border-color: black;
    width: 50px;
    height: 50px;
}
.titleColor {
    color: black;
    text-shadow: 0.5px 0.5px 6px black;
    font-size: xxx-large;
    text-align: center;
}
