a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: darkorange;
    background-color: transparent;
    text-decoration: underline;
}
a:link {
    color: palegreen;
    background-color: transparent;
    text-decoration: none;
}
a:link:hover {
    color: darkorange;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: palegreen;
    background-color: transparent;
    text-decoration: none;
}
a:visited:hover {
    color: darkorange;
    background-color: transparent;
    text-decoration: underline;
}
h1 {
    color: orange;
}
h2 {
    color: white;
    text-shadow: 0.5px 0.5px 6px black;
}
p {
    text-shadow: 0.5px 0.5px 6px black;
}
.bigGap {
    margin-left: -2rem;
    margin-right: -2rem;
}
.bossBorder {
    width: 20%;
    height: 170px;
    display: block;
    position: relative;
    border-radius: 4px;
    border: 1px solid rgb(46 46 46 / 70%);
    background: rgb(15 15 15);
    box-sizing: border-box;
    min-width: 10rem;
}
.bossImage .crestImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 0 0%;
    z-index: 1;
    background-color: rgb(46 46 46 / 15%);
}
.bossImage:hover {
    background-color: rgba(100, 40, 0, 0.5);
    transition: 0.3ms;
}
.bossName .crestName {
    font-weight: 700;
    font-size: 1.1rem;
    opacity: 1;
    position: absolute;
    left: 0px;
    bottom: 6px;
    text-transform: uppercase;
    z-index: 3;
    line-height: 92%;
    text-shadow: 0 2px 2px rgb(0 0 0 / 80%);
    letter-spacing: 0.05em;
    width: 100%;
    text-align: center;
}
.crestBorder {
    width: 20%;
    height: 170px;
    display: block;
    position: relative;
    border-radius: 4px;
    border: 0px solid rgb(46 46 46 / 70%);
    background: rgb(15 15 15);
    box-sizing: border-box;
    min-width: 10rem;
}
.worldFirstEU {
    bottom: 0px;
    top: 6px;
    color: dodgerblue;
}
.worldFirstUS {
    bottom: 0px;
    top: 6px;
    color: firebrick;
}
.fixBg {
    position: fixed !important;
    background-position: 0 50% !important;
    height: 100% !important;
}
.hasTitle {
    margin-top: -1.5rem;
}
.flexBossContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}
