h1 {
    color: #ffc107;
    text-shadow: 4px 1px 6px black;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2rem;
}
h2 {
    color: white;
    text-shadow: 4px 1px 6px black;
    text-align: center;
    margin-bottom: 5px;
}
a:link {
    text-decoration: none;
    transition: 0.3s;
}
a:link:hover {
    text-decoration: underline;
    transition: 0.3s;
}
.bgMask {
    mask-image: url("data:image/svg+xml,<svg width='145%25' height='125%25' viewBox='0 0 100 100' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='200%25' height='200%25' x='-100%25' y='-100%25' fill='url(%23rad)'/><defs><radialGradient id='rad'><stop offset='80%25'/><stop offset='100%25' stop-opacity='0'/></radialGradient></defs></svg>");
    -webkit-mask-image: url("data:image/svg+xml,<svg width='145%25' height='125%25' viewBox='0 0 100 100' preserveAspectRatio='none' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='200%25' height='200%25' x='-100%25' y='-100%25' fill='url(%23rad)'/><defs><radialGradient id='rad'><stop offset='80%25'/><stop offset='100%25' stop-opacity='0'/></radialGradient></defs></svg>");
}
.wago a {
    display: inline;
    padding: 0 2px;
    margin: 0;
    border: 0;
}
.wago button {
    display: inline;
    padding: 4px 16px;
    min-width: 130px;
    min-height: 3.5rem;
    cursor: copy;
    background-color: #000;
    color: rgba(255, 255, 255, 0.87);
    border: 0;
    text-align: center;
    vertical-align: top;
    border-radius: 6px;
    transition: 0.3s;
    opacity: 1;
}
.wago button:hover {
    background-color: darkorange;
    color: black;
    transition: 0.3s;
    opacity: 1;
}
.wago .clickToCopy {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.wago img {
    display: inline;
    padding: 0;
    margin: 0;
}
.wago .wagoName {
    display: block;
    padding: 0;
    margin: 4px 0;
    font-weight: bold;
    font-size: 14px;
}
