h1 {
    color: #ffc107;
    text-shadow: 4px 1px 6px black;
    text-align: center;
    margin-bottom: 0;
    margin-top: 2rem;
}
h2 {
    color: white;
    text-shadow: 4px 1px 6px black;
    text-align: center;
    margin-bottom: 5px;
}
.wago a {
    display: inline;
    padding: 0 2px;
    margin: 0;
    border: 0;
}
.wago button {
    display: inline;
    padding: 4px 16px;
    min-width: 130px;
    min-height: 3.5rem;
    cursor: pointer;
    background-color: #000;
    color: rgba(255, 255, 255, 0.87);
    border: 0;
    text-align: center;
    vertical-align: top;
    border-radius: 6px;
}
.wago button:hover {
    background-color: darkorange;
}
.wago .clickToCopy {
    display: block;
    padding: 0;
    margin: 0;
    font-size: 10px;
}
.wago img {
    display: inline;
    padding: 0;
    margin: 0;
}
.wago .wagoName {
    display: block;
    padding: 0;
    margin: 4px 0;
    font-weight: bold;
    font-size: 14px;
}
